<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="selenium-reporter Demo Suite" verbose="1">
    <test name="Sample Selenium Tests">
        <classes>
            <class name="com.empresa.reporter.SampleSeleniumTest"/>
        </classes>
    </test>
</suite>
